@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background-color: rgb(15, 15, 77);
    font: normal 15pt Arial;
    
}
header{
    font-family: "Oswald",Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459) ;
}
div{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}