body{
    background-color: #16366B;
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 450px;

    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459) ;
}
div{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}